footer
  .container.text-center
    p.pull-left © 2017 Afeef Janjua. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/afeef/test-project') GitHub Project
      li
        a(href='https://github.com/afeef/test-project/issues') Issues
